<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934838597768-g30megm6dibgcmvnt2bvdq31tcte87f3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934838597768-g30megm6dibgcmvnt2bvdq31tcte87f3</string>
	<key>API_KEY</key>
	<string>AIzaSyB_cBTkGxJgE7qB4606inI8iXT3xJOcmNo</string>
	<key>GCM_SENDER_ID</key>
	<string>934838597768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doctor</string>
	<key>PROJECT_ID</key>
	<string>doctor-2c1ec</string>
	<key>STORAGE_BUCKET</key>
	<string>doctor-2c1ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934838597768:ios:f4800a9ac8a61066a6473d</string>
</dict>
</plist>